header {
  padding: 30px;
  display: flex;
  background-color: $secondary;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $white;
  .navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    nav {
      .nav-container {
        display: flex;
        gap: 30px;
        .menu-item {
          position: relative;
          li {
            font-size: 20px;
            padding: 10px 0;
            &:hover {
              cursor: pointer;
            }
          }
          .list {
            position: absolute;
            // top: 30px;
            width: 160px;
            left: 10px;
            padding: 10px 20px;
            display: flex;
            flex-direction: column;
            background-color: $white;
            color: $black;
            li{
              
              font-size: 16px;
            }
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          }
        }
      }
    }
  }
  .user{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-weight: 900;
    border-radius: 50%;
    background-color: $darkGray;
  }
}
